:root{
    --dark-blue: #025E73;
    --celeste: #52D9CB;
    --lightblack: #212121;
    --black: #262312;
    --white: #ffffff;
    --font-size: 1.5rem;
    --inter: 'Inter', sans-serif;
    --roboto: Roboto, sans-serif;
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--black); 
}

.header{
    background-color: var(--lightblack);
    color: var(--white);
    font-family: var(--inter) ;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.div{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0.2rem;
}

.input{
    margin: 1em;
    border-radius: 5px;
    padding: 0.5em;
    width: 100%;
    height: 100%;
}

.btn{
  background-color: rgb(255, 102, 102);
  color: #fff;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0, 0.75);
  font-size: 1rem;
  width: 12.5rem;
  margin: auto 0;
}

.card{
    margin: auto 0;
    padding: 2rem;
    background-color: var(--black);
}




