:root{
    --pink: #D9B4C8;
    --light-gray: #A097A6;
    --gray: #5F6273;
    --dark: #283040;
    --black: #111C26;
    --white: #ffffff;
    --font-size: 1.5rem;
    --inter: 'Inter', sans-serif;
    --roboto: Roboto, sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--black); 
}

.header{
    color: var(--white);
    font-family: var(--inter) ;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.div{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0.2rem;
    height: 12vh;
}

.input{
    margin: 1em 0.2em;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    height: 45%;
    font-size: 1.5rem;
    font-family: var(--inter);
}

.btn{
  background-color: var(--gray);
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0, 0.75);
  font-size: 1rem;
  margin: auto 0;
}

.input:hover{
    background-color: lavender;
}



.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    min-height: 75vh;
}





